.landing {
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: #FFF;
    border: solid;
    border-radius: 10px;
    text-transform: capitalize;
    &.create {
        margin-left: auto;
    }
}

.landing:hover {
    background-color: #FFF;
    color: #719492;
    cursor: pointer;
}