.landing {
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: #FFF;
    border: solid;
    border-radius: 10px;
}

.landing:hover {
    background-color: #FFF;
    color: #719492;
    cursor: pointer;
}