.expense-table {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    & > .expense-table-headers {
        text-transform: capitalize;
        font-weight: bold;
        & > tr {
            & > td {
                width: 250px;
            }
        }
    }
    & > .expense-table-body {
        & > tr {
            & > td {
                width: 250px;
            }
        }
    }
}