.sheet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    & > .sheet-row {
        width: 50%;
        height: 100px;
        border: 1px solid #D7D7D7;
        margin: 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform .2s;
        & > .sheet-navigation-content {
            font-weight: bold;
            padding: 10px 0px 0px 25px;
        }
    }
    & > .sheet-row:hover {
        transform: scale(1.05);
    }
}