.sidebar-container {
    position: absolute;
    height: 100%;
    width: 15%;
    background-color: black;
    color: white;

    & > .sidebar-selector {
        height: 35px;
        border-bottom: 1px solid white;
        & > .sidebar-navigation-button {
            width: 100%;
            height: 100%;
            background: transparent;
            color: white;
        }
    }
}