.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    background-color: #091928;
    color: white;

    & > .sidebar-header-container {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 35px;
        padding-left: 25px;
        & > svg {
            height: 30px;
            width: 30px;
            fill: white;
        }
        span {
            padding-left: 10px;
        }
    }

    & > .sidebar-selector {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding-left: 30px;
        height: 35px;
        .fill-white-svg {
            fill: white;
        }
        & > .sidebar-navigation-button {
            border: none;
            width: 100%;
            height: 100%;
            background: transparent;
            color: white;
        }
        span {
            padding-left: 15px;
        }
    }

    & > .sidebar-selector:hover {
        cursor: pointer;
        background-color: #424242;
        border-radius: 15px;
    }
}