.expense-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 150px;
    margin-left: 100px;
}
.input-form {
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    margin-bottom: 50px;
    & > form {
        display: flex;
        width: 100%;
        max-width: 1000px;
        border: 1px solid #DFDFDF;
        border-radius: 10px;
        box-shadow: 5px 5px #DFDFDF;
        padding: 15px 0px;
        & > select, input, button {
            margin: 5px;
        }
    }
}