.input-form {
    margin-bottom: 50px;
    & > form {
        padding: 25px 50px;
        & > label {
            padding-left: 15px;
        }
        & > button {
            margin-left: 15px;
        }
    }
}