.landing-page {
    height: 95vh;
    & > .center-content {
        font-size: 24pt;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;

        .button-div {
            display: flex;
            width: 400px;
            padding-top: 15px;
            justify-content: center;
        }
    }
}