.main-menu-table {
    width: 100%;
    & > tr:nth-child(even) {
        background: #E6E6E6;
    }
    & > tr:nth-child(odd) { 
        background: #FFF;
    }
}

.main-menu-table-header {
    background-color: black;
    color: white;
}